{{!< default}}

<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>Your product listing is live!</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <img class="img-responsive" src={{uri}} style="width: 170px; height: 400px;"/>
        </div>
    </div>

    {{!-- <div class="row">
        <div class="col-12">
            <h1>Congratulations! You have successfully bought {{name}} for {{price}}</h3>
        </div>
    </div> --}}

    <div class="row">
        <div class="col-12" style="background-color:black; width: 170px; padding: 0px 10px 0px 10px;">
            
                <p style="color: white">Listing Name : {{name}}</p>
            
            
            
        </div>
    </div>


    <div class="row">
        <div class="col-12" style="background-color:black; width: 170px; padding: 0px 10px 0px 10px;">
            
                <p style="color: white">Price : £{{price}}</p>
            
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p style="color:dimgrey">You can check out your listing on the marketplace. You will be informed through email and in-app notifications if your listing has sold.</p>
        </div>
    </div>

</div>

