{{!< default}}

<div class="container">

    <div class="row">
        <div class="col-12">
            <img class="img-responsive" src={{uri}} style="width: 170px; height: 400px;"/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>Congratulations! You have successfully bought {{name}} for £{{price}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p style="color: gray;">Your item will be delivered to:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p style="color: gray">{{address.addressOne}}, {{address.addressTwo}}, {{address.city}}, {{address.postCode}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p style="color: gray">Please note that it may take up to 2 weeks for the item to arrive via postal delivery. In case your item doesn't arrive, send us an email at nottmystyle.help@gmail.com</p>
        </div>
    </div>

</div>