{{!< default}}

<div class="container">

    <div class="row">
        <div class="col-12">
            <img class="img-responsive" src={{uri}} style="width: 170px; height: 400px;"/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>Congratulations! Your item, {{name}}, has been sold successfully to {{buyerName}}.</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p style="color: gray;">The buyer's address is:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p style="color: gray">{{address.addressOne}}, {{address.addressTwo}}, {{address.city}}, {{address.postCode}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p style="color: gray">We recommend you send the item over ASAP, after which your payment will be transferred via PayPal.</p>
        </div>
    </div>

</div>